.allWrapper {
    text-align: center;
    padding: 20px 0;
}

.greeting {
    display: flex;
    align-items: flex-start;
}

.errorInput {
    margin: 10px;
    background: rgba(255, 0, 0, .3);
    color: rgba(255, 0, 0, 1);
    border: 2px solid rgba(255, 0, 0, 1);
    outline: none;
}

.input {
    margin: 10px;
    background: rgba(60, 60, 60, .3);
    color: black;
}
.input:focus {
    outline: none;
    border: 2px solid rgba(60, 60, 60, 1);
}

.error {
    color: rgba(255, 0, 0, 1);
    height: 21px;
    margin-left: 10px;
}

.button {
    margin: 10px;
    width: 60px;
    background: rgba(60, 60, 60, .3);
    color: whitesmoke;
    outline: none;
}
.button:focus {
    outline: rgba(60, 60, 60, 1);
}
.button:active {
    background: rgba(60, 60, 60, .6);
}
.button:disabled {
    color: rgba(60, 60, 60, .1);
}

.count {
    margin: 10px;
}